$primary: linear-gradient(225deg, #6fc2eb 3.26%, #6979f8 100%);
$secondary: linear-gradient(225deg, #6979f8 13.71%, #6fc2eb 100%);
$third: #ffffff;
$fourth: #000000;
$decent1: #6979f8;
$decent2: #e0e0e0;
